<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Critical Error!</h1>
    <p>Working to fix it, sorry about the inconveience.</p>

<%- include('includes/end.ejs') %>